@model ACS.ViewModels.MonthlyFeeView
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<h4 class="text-danger">@ViewBag.Error</h4>
<h4 class="text-info">@ViewBag.Message</h4>

@using (Html.BeginForm("NewMonthlyFee", "MonthlyFees", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ActionLink("Add Sport", "AddSport", new { }, new { @class = "btn btn-primary" })
        
        <h2>Monthly Fee Details</h2>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => Model.Sport.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Sport.FeeAmount)
                </th>
                <th>Acciones</th>
            </tr>
            @for (int i = 0; i < Model.Sports.Count; i++)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => Model.Sports[i].Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.Sports[i].FeeAmount)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = Model.Sports[i].SportID })
                        @Html.ActionLink("Delete", "Delete", new { id = Model.Sports[i].SportID })
                    </td>
                </tr>
            }


        </table>

        <input type="submit" value="Save Monthly Fee" id="NewMonthlyFee" class="btn btn-success" />

    </div>
}